.error-txt {
    font-size: 13px !important;
    color: #fe4848;
    display: block;
    width: 100%;
}

.error-message {
    position: absolute;
    left: 50%;
    display: block;
    width: 100%;
    transform: translate(-50%, -50%);
    bottom: 5%;
}

form#user_type_form {
    position: relative;
}

form#user_type_form .log-reg-btn {
    margin-top: 20px;
}

.error-txt label {
    margin-bottom: 0;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group .error-txt {
    position: absolute;
    bottom: -25px;
}

.questionborder:last-child {
    border-bottom: 0;
}

span.error-txt.common-type-error {
    margin-bottom: 12px;
}

span.error-txt.common-type-error {
    margin-bottom: 12px;
}

.title-heading {
    padding: 15px 25px;
}

.card-content .intl-tel-input {
    width: 100%;
}

.card-content .intl-tel-input.separate-dial-code .selected-dial-code {
    padding-left: 25px;
    font-size: 14px;
    padding-right: 15px;
}

.card-content .intl-tel-input .selected-flag .iti-arrow {
    right: 4px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.common-cms .content div,
.common-cms .content p {
    font-size: 14px;
}

.main-header .navbar-light .navbar-nav .show>.nav-link {
    color: #ffffff;
}

.main-header .dropdown-item {
    font-size: 13px;
}

.main-header .dropdown-menu {
    left: 15px;
    min-width: 7rem;
    padding: .4rem 0;
}

.main-header .dropdown-item.active,
.main-header .dropdown-item:active {
    color: #000;
    background-color: transparent;
}

.milestone-box table td {
    width: 100%;
    display: block;
}

label {
    display: block;
}

.video-link-col td {
    border: 0px;
}

.video-link-col td:first-child {
    width: 70%;
    padding-left: 0;
}

.video-link-col .remove-buttons .btn {
    margin-top: -1px;
    padding: .4rem .75rem;
}

.form-validate .error {
    border-color: #fe4848;
}

#invite-form button[disabled],
#invite-form input[disabled] {
    background-color: #2e1a43;
    pointer-events: none;
}

.disable-invite-btn {
    background-color: #2e1a43;
    pointer-events: none;
    opacity: .65;
}

.main-wrapper {
    min-height: 100vh;
}

.milestone-inner-col .border-table {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 15px;
}

.error {
    color: #F00;
    background-color: #FFF;
}

.hide {
    display: none;
}

.questionborder:last-of-type {
    border-bottom: 0 !important;
}

.no-project-txt::after {
    display: none !important;
}

.custom-file-choose .view-upload {
    padding: 0;
}

.custom-file-choose .view-upload .dropify-wrapper {
    height: 100px;
    padding: 5px 10px;
    font-size: 13px;
    color: #000;
    border: 0;
}

.custom-file-choose .view-upload .file-icon::after {
    font-family: Flaticon;
    display: inline-block;
    content: "\f128";
}

.custom-file-choose .view-upload .file-icon:before {
    display: none !important;
}

.custom-file-choose .view-upload .file-icon {
    font-size: 26px!important;
    color: #000!important;
    line-height: 15px;
}

.main-header .navbar-nav .nav-link {
    color: #fff !important;
}

.logged-in .nav-link {
    line-height: 48px;
}

@media (max-width: 767.98px) {
    .video-link-col td:first-child {
        width: 100%;
        padding-left: 0;
        padding: 5px 0;
    }
    .video-link-col td {
        border: 0px;
        width: 100%;
        display: block;
    }
}

.portfolio-projects table td {
    width: 100%;
    display: block;
}

.project-layouts .title {
    margin-bottom: 20px;
}

filter-col label {
    font-size: 14px
}

.project-search-listing .search-bar .sort label {
    float: left;
}

.project-search-top .project-search-inprogress {
    width: 100%;
    display: inline-flex;
    margin-right: 15px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    font-size: 12px;
}

.select2-search__field {
    width: 100% !important
}

.select2-results__option--highlighted {
    color: rgb(15, 15, 15) !important;
    background-color: #efefef !important;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: darkgray;
}

.gj-datepicker-md [role=right-icon] {
    padding: 7px 20px;
}

.last-col::after {
    display: none !important;
}

.final-submit .btn-cols .btn {
    padding: 10px 40px;
}

.user-image-col {
    background: white;
    border-radius: 6px;
    border: 1px dashed #AEAEAE;
    padding: 20px;
    text-align: center;
}

.low-font-weight {
    font-weight: normal !important;
    font-size: 15px !important;
}

.milestone-table-col .sub-title {
    font-size: 1rem !important;
}

.membership-details .btn-cols {
    margin-top: 30px;
}

.in-progress-project-layouts .in-progress-list-col h4 {
    font-size: 1rem;
}

#frame .content .messages ul li:first-child {
    margin-top: 18px;
}

#frame #sidepanel #contacts ul li.contact .wrap img {
    height: 40px;
}

.no-line::after {
    display: none !important;
}

.pointer-del {
    cursor: pointer;
}

.notify-col {
    margin-right: 15px;
    margin-left: 0 !important;
    margin-bottom: 12px;
}

.re-seperator {
    width: 100%;
    height: 1px;
    background-color: #e2d4d4;
    margin: 15px 0px;
}

.sub-head-with-bg.head-rating {
    background-color: #eeeeee !important;
}

.ratings-col {
    padding-top: 62px;
}

.sub-head-with-bg.head-rating .title {
    font-size: 16px !important;
}

.ratings-col .question {
    font-size: 14px;
    margin: 0px;
}

.rating {
    border: none;
    float: left;
    margin: 0px 0px 0px 28px;
}

.rating>input {
    display: none;
}

.rating>label:before {
    margin-top: 2px;
    padding: 0px 5px 0px 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating>.half:before {
    content: "\f089";
    position: absolute;
}

.rating>label {
    color: #fff;
    float: right;
    background-color: #D8D8D8;
    border-radius: 15px;
    height: 25px;
    margin-right: 5px;
}


/***** CSS Magic to Highlight Stars on Hover *****/

.rating:not(:checked)>label:hover,

/* hover current star */

.rating:not(:checked)>label:hover~label {
    background-color: #f77e0f !important;
    cursor: pointer;
}


/* hover previous stars in list */

.rating>input:checked+label:hover,

/* hover current star when changing rating */

.rating>label:hover~input:checked~label,

/* lighten current selection */

.rating>input:checked~label:hover~label {
    background-color: #f77e0f !important;
    cursor: pointer;
}

.user-thumb {
    height: 25px;
    width: 25px;
    border-radius: 30px;
    margin-right: 10px;
}

.ratings-media {
    background-color: #fff;
    padding: 20px 10px;
    margin: 25px 0;
}

.ratings-media .thumb {
    width: 45px;
    height: 45px;
    border-radius: 30px;
    margin-top: 5px
}

.ratings-media .name {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.ratings-media .label {
    font-size: 13px;
    margin: 0;
    margin-bottom: 5px;
}

.ratings-media .label .data {
    font-weight: 600;
}

.desc-box {
    background-color: #efefef;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

.sub-head-with-bg.head-rating .title-detail {
    font-size: 16px !important;
}

.user-rating {
    width: auto !important;
}

.user-rating svg {
    animation-name: unset !important;
    margin-right: 5px !important;
}

.jobseeker-rating svg {
    animation-name: unset !important;
}

.category-service-wrapper .card-body .sub-category-list li a:hover {
    margin-left: 0;
}

.freelancer-view-details .media {
    position: relative;
}

.freelancer-view-details .media .message-btn {
    position: absolute;
    right: 2px;
    top: 15px;
}

.intl-form .selected-flag {
    width: 72px !important;
}

.intl-form .intl-input {
    padding-left: 82px !important
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 13px;
}

.profile-rating-col .rating-title {
    font-size: 1rem !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #3e2361 !important;
}

.dashboard {
    min-height: 80vh;
}

.freelancer-view-details .col-list-item .name {
    font-size: 1.15rem !important;
}