/**
* Template Name: WeBuild - v2.1.0
* Template URL: https://bootstrapmade.com/free-bootstrap-coming-soon-template-countdwon/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: "Open Sans", sans-serif;
    color: #444;
}

a {
    color: #4f92af;
}

a:hover {
    color: #5eb8df;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
    font-family: "Raleway", sans-serif;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    height: 80px;
    padding: 20px 0;
    position: relative;
    z-index: 10;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 300;
    letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
}

#header .contact-link a {
    color: #fff;
    padding-right: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#header .contact-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    #header .logo h1 {
        font-size: 28px;
        padding: 8px 0;
    }
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: auto;
    background: url(../img/hero-bg.jpg) top center;
    background-size: cover;
    position: relative;
    margin-top: -80px;
    z-index: 9;
    min-height: calc(100vh - 70px);
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
}

#hero .info {
    color: #fff;
    font-size: 23px;
    margin: 10px 0px 25px;
    font-weight: 400;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    text-transform: unset;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin-bottom: 30px;
    font-size: 24px;
}

#hero .countdown {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    line-height: 56px;
    margin: 5px 0 15px 0;
}

#hero .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

#hero .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#hero .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

#hero .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

#hero .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading-notify 1s linear infinite;
    animation: animate-loading-notify 1s linear infinite;
}

@-webkit-keyframes animate-loading-notify {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading-notify {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#hero .php-email-form input {
    border-radius: 6px;
    box-shadow: none;
    font-size: 14px;
    border: 0;
    padding: 0px 15px 2px 15px;
    width: 250px;
    height: 40px;
    margin: 0 8px;
}

#hero .php-email-form button[type="submit"] {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 15px 60px;
    border-radius: 6px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #ffffff;
    color: #fff;
    background: #4c2e71;
}

#hero .php-email-form button[type="submit"]:hover {
    background: white;
    color: #4f3076;
    border: 2px solid #fff;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
        margin-top: 20px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
    #hero .php-email-form input {
        margin: 0 auto;
    }
}

@media (max-width: 575px) {
    #hero .countdown {
        font-size: 32px;
        line-height: 38px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
}

.section-bg {
    background-color: #f7fafc;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 20px;
    padding-bottom: 0;
}

.section-title p {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/

.contact .contact-info {
    margin-bottom: 20px;
    text-align: center;
}

.contact .contact-info i {
    font-size: 48px;
    display: inline-block;
    margin-bottom: 10px;
    color: #4f92af;
}

.contact .contact-info address,
.contact .contact-info p {
    margin-bottom: 0;
    color: #444;
}

.contact .contact-info h3 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #999;
}

.contact .contact-info a {
    color: #000;
}

.contact .contact-info a:hover {
    color: #4f92af;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
    margin-bottom: 20px;
}

.contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .error-message br+br {
    margin-top: 25px;
}

.contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
    border-color: #4f92af;
}

.contact .php-email-form button[type="submit"] {
    background: #4f92af;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
    background: #72a8bf;
}

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (min-width: 768px) {
    .contact .contact-phone {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .contact .contact-address,
    .contact .contact-phone,
    .contact .contact-email {
        padding: 20px 0;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #3a1e5d;
    padding: 30px 0;
    color: #ffffff;
    font-size: 14px;
}

#footer .copyright {
    text-align: center;
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}

#footer .credits a {
    color: #ababab;
}

.img-fluid {
    max-width: 100%;
    height: 60px!important;
}

@media screen and (max-width: 970px) {
    #hero .hero-container {
        position: relative;
    }
    #hero {
        height: auto;
    }
    #hero .info {
        font-size: 23px;
    }
}