table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: 7px!important;
}
div.dataTables_wrapper div.dataTables_processing{
  background: transparent;
  box-shadow: none;
  z-index: 999;
}
.acc_log_dtable .dataTables_wrapper .col-md-7{
  text-align: right;
}
#basic-datatable{
  display: block;
  overflow: scroll;
}
select.form-control.is-valid, .was-validated select.form-control:valid{
  background-position: center right calc(1.375em + .1875rem);
}
.validation-failed .custom-file-label{
  border-color: #fa5c7c;
}
.mandatory {
  color: red!important;
}
.no-inc::-webkit-inner-spin-button, 
.no-inc::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[data-switch=success]+label {
  background-color: #fa5c7c;
}
input[data-switch]+label:before{
  color: #fff;
}
input[data-switch]+label:after{
  background-color: #fff;
}
.frgt-link:hover small {
  color: #2E1A47;
}
.social-icon .mdi-facebook:hover{
  color: #3b5999!important;
}
.social-icon .mdi-twitter:hover{
  color: #55acee!important;
}
.social-icon .mdi-skype:hover{
  color: #00AFF0!important;
}
/* cutsom email table */
.emailque table th{
  display: none;
}
.emailque table td{
  border:none;
  padding: 13px 11px;
  position: relative;
}
.emailque table td:hover{
  cursor: pointer;
}
.emailque table tr:hover{
  background: #f1f3fa;
    -webkit-transition-duration: .05s;
    transition-duration: .05s;
}
.emailque table tr:hover .buttons-section{
  right: 55px;
  top: 12px;
  background: #f1f3fa;
  width: 73px;
  z-index: 9999;
  -webkit-transition: all .5s;
  transition: all .5s;
  display: inline-flex;
  }
.emailque table td .buttons-section{
  position: absolute;
  right: -180px;
}
.emailque table{
  width: 100%!important;
}
.emailque table tr.unread{
  font-weight: 600;
  color: #272e37;
}
.emailque table tr.unread .buttons-section .btn-dark{
  color: #fff;
  background-color:#272e37!important; 
}
.buttons-section .btn-dark{
  background-color: #6c757d!important;
  color: #fff;
}
/* end of custom email table */
.page-title-box .breadcrumb{
  display: inline-flex;
}
.page-title-box .bk-btn{
  text-decoration: underline;
  text-underline-position: under;
  color: #2E1A47;
  padding: 0 12px;
  box-shadow: none;
}
.page-title-box .bk-btn i{
    font-size: 25px;
    vertical-align: middle;
}
.breadcrumb  li:first-of-type a{
  border-left: 1px solid;
  padding-left: 12px;
}
@media (min-width: 992px) {
  .add-edit-btn{
    position: absolute;
    right: 25px;
    top: 28px;
    cursor: pointer;
    margin-right: 25px;
  }
  .dataTables_info{
    width: 40%;
    display: inline-block;
  }
  .dataTables_paginate{
    width: 60%;
    display: inline-block;
  }
  .auth-brand {
    position: absolute;
    top: 20px !important;
  }
  [data-keep-enlarged=true] .navbar-custom {
    margin-left: 250px;
  }
  }
  .auth-brand img {
    width: 250px;
    height: auto;
    margin-top: 40px;
  }
  
  .logo-auth img{
    width: 180px;
    height: auto;
  }
  
  #filter {
    border-bottom: 1px solid #ccc;
    width: 100% !important;
    padding: 0px 0px 2px 0px;
    margin-bottom: 20px !important;
  }
  
  .data-view{
    padding: 0px;
    border-bottom: 1px solid #c3c3c3;
  }
  .data-view p{
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  
  /* DD Style */
  .enlarged .wrapper .left-side-menu {
    position: fixed;
  }  
  .sidebar-enable .navadmin{
    margin-left: 250px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  .enlarged .navadmin{
    margin-left: 70px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }
  @media (max-width: 767.98px){
  .enlarged .navadmin{
    margin-left:0px;
  }
  .sidebar-enable .navadmin{
    margin-left: 0px;
  }
  
  }
  
  .page-title-box .page-title-right {
    float: right;
    margin-top: 6px;
    line-height: 45px;
  }
  .page-title-box .page-title {
    line-height: 85px;
  }
  .page-title-box .breadcrumb {
    padding-top: 8px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .navbar-custom {
    left: 0;
    right: 0;
  }
  footer .container-fluid{
    margin-top: 0px;
  }
  .container-fluid{
    margin-top: 55px;
  }
  /* Table td height reduces */
  .table td, .table th {
    padding: 5px 0.95rem;
    vertical-align: middle;
    border-top: 1px solid #e3eaef;
  }
  
  .table .btn, .table .btn {
    padding: 1px 5px !important;
  }
  
  table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {
    top: 4px;
  }
  
  table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
    top: 4px;
  }
  /* Table td height reduces */
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000;
    background-color:#dedfe6;
  }
  
  
  /* logs start */
  
  .timeline {
    list-style: none;
    padding: 10px 0 10px;
    position: relative;
  }
  
  .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  
  .timeline > li {
    margin-bottom: 0x;
    position: relative;
  }
  
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  
  .timeline > li:after {
    clear: both;
  }
  
  .timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 10px;
    position: relative;
  
  }
  
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
  }
  
  .timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  
  .timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  
  .timeline-badge.primary {
    background-color: #008CBA !important;
  }
  
  .timeline-badge.success {
    background-color: #43AC6A !important;
  }
  
  .timeline-badge.warning {
    background-color: #E99002 !important;
  }
  
  .timeline-badge.danger {
    background-color: #F04124 !important;
  }
  
  .timeline-badge.info {
    background-color: #5BC0DE !important;
  }
  
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  
  .timeline-body > p + p {
    margin-top: 5px;
  }
  
  label {
    font-weight: 1000;
  }
.active-checkbox label{
    width: 75px!important;
    margin-top: 37px;
}
.active-checkbox input[data-switch]:checked+label:after{
    left:54px!important;
}
.after-form-submit .validation-failed .invalid-feedback{
    display:block;
}
.after-form-submit input {
    border-color: #0acf97;
    padding-right: 2.2125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2338c172' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.after-form-submit .validation-failed input {
    border-color: #fa5c7c;
    padding-right: 2.2125rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23e3342f' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23e3342f' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: center right calc(.375em + .1875rem);
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.orglogo-list {
  width: 120px;
  height: 35px;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px dashed #ccc;
  padding: 8px 10px;
  background-position: center;
}

.mt-28{
  margin-top: 28px !important;
}

.dataTables_length{
  width: fit-content;
  float: left;
}
.dataTables_filter{
  width: fit-content;
  float: right;
}
.iti__flag {
  background-image: url("/images/flags.png")!important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("/images/flags@2x.png")!important;}
}
.intl-tel-input {
  width: 100% !important;
}

.intl-tel-input .form-control{
  padding-left: 95px !important;
}

.intl-tel-input.separate-dial-code .selected-flag {
  background-color: rgba(0,0,0,.05);
  display: table;
  min-width: 85px !important;
}
span.select2-selection__clear {
  display: none !important;
}

.select2-container .select2-selection--multiple .select2-selection__choice {
  background-color: #2E1A47 !important;
}

.error-msg{
  width: 100%;
  margin-top: .25rem;
  font-size: .75rem;
  color: #fa5c7c;
}
.cursor-pointer{
  cursor: pointer!important;
}

.view-detail-col .descrption-col .notify-col {
  padding: 1px 4px!important;
  font-size: 11px!important;
  border-radius: 4px!important;
  margin-left: 5px!important;
}

